
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #302d2c;
    
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 100px;
  background-color: #f4f2f0;
  position: relative;
  max-width: 1400px; 
  margin: 0 auto; 
 
}
.hero-section {
  background-color: #f4f2f0; 
  width: 100%;
  
}

.titulo-desktop {
  font-size: 18px;
  font-family: 'Bebas Neue', sans-serif;
  line-height: 1.3; 
  margin-bottom: 24px;
  max-width: 600px;  
  width: 100%;
  white-space: normal;
  overflow-wrap: break-word;  
}

.paragrafo-desktop {
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.3;
  margin-bottom: 24px;
  max-width: 650px; 
  width: 100%;
  white-space: normal; 
  overflow-wrap: break-word; 
  word-wrap: break-word; 
}
@media screen and (max-width: 768px) {
  .paragrafo-desktop {
    display: none;
  }
}

.hero-info p:not(.paragrafo-desktop) {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  line-height: 1.4;
}


.hero-info h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 64px;
  line-height: 56px;
  margin-bottom: 20px;
}


.hero-info p {
  font-size: 15px;
  margin-bottom: 24px;
  line-height: 1.4;
}

/* Botão desktop */
.btn-desktop-only {
  display: inline-flex;
  padding: 12px 24px;
  background-color: #155252;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  align-items: center;
  font-weight: 500;
}

/* Esconde no mobile */
@media screen and (max-width: 768px) {
  .btn-desktop-only {
    display: none;
  }
}


.btn-consulta img {
  margin-right: 8px;
}

.hero-img .img-nutricionista {
  width: 380px;
  height: 380px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #1b3e34;
}


/* Versões desktop */
.titulo-mobile,
.paragrafo-mobile {
  display: none;
}
.paragrafo-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .paragrafo-mobile {
    display: block;
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
  }
}


/* mobile */
@media screen and (max-width: 768px) {
  .hero {
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 20px;
    height: 100vh;
    background:
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('/assets/images/header/NJ.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .titulo-mobile {
    font-size: 15vw; 
    line-height: 1.05; 
    letter-spacing: 0.5px;
    font-weight: 900px;
    margin-bottom: 1.5rem;
    padding: 0 1.5rem;
    font-family: 'Bebas Neue', sans-serif;
    width: 100%;
    max-width: 100%;
    text-align: left;
  }
  
  .paragrafo-mobile {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 24px;
    width: 100vw; 
    padding-left: 10px;  
    padding-right: 10px;
    box-sizing: border-box; 
  }
  

   /* Exibir apenas os mobile */
   .titulo-desktop,
   .paragrafo-desktop {
     display: none;
   }
 
   .titulo-mobile,
   .paragrafo-mobile {
     display: block;
     max-width: 100%;

   }
 
   .hero-info {
    width: 100%;
    position: absolute;
    bottom: 80px;
    color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    max-width: 100%;
  }
  

  .btn-consulta img {
    margin-right: 8px;
    
  }

  .hero-img {
    display: none;
  }
}
/* Esconde o botão no desktop */
.btn-mobile-only {
  display: none;
}

@media screen and (max-width: 768px) {
  .btn-mobile-only {
    display: inline-flex;
    font-size: 16px;
    padding: 12px 24px;
    background-color: #155252;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    align-items: center;
    font-weight: 400;
    margin: 0 auto;
    max-width: 90%;
    justify-content: center;
  }

  .btn-mobile-only img {
    margin-right: 8px;
  }
}

/*consulta */ 

.consulta {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  gap: 30px;
  padding: 60px 10px;
  max-width: 1400px; 
  margin: 0 auto; 
  position: relative;
}

.consulta-section {
  width: 100%;

}

.consulta-left img {
  width: 522px;
  height: 380px;
  border-radius: 8px;
  object-fit: cover;
  margin-left: 90px;
}

.consulta-right {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.consulta-right h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 50px;

  text-align: left;
  margin-top: 5px;
  width: 100%;
  gap: 5px;
  line-height: 1;
  transform: translateY(50%); 
}

.consulta-texto {
  margin-top: 60px; 
}

.consulta-texto p {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin-bottom: 12px;
  margin-top: 5px;

}

.consulta-texto ul {
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;
  list-style-type: disc; 
}

.consulta-texto li {
  margin-bottom: 12px;
  font-family: 'Poppins', sans-serif; font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 24px;
}

/*Mobile consulta*/
@media screen and (max-width: 768px) {
  .consulta-left {
    display: none; 
  }

  .consulta-right {
    max-width: 100%;
    text-align: left; 
    margin-top: -10px;
    padding: 5px 20px 20px 20px
  }

  .consulta-right h2 {
    font-size: 58px; 
    font-weight: 800; 
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  .consulta-texto p {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .consulta-texto ul {
    padding-left: 20px;
    list-style-type: disc;
  }

  .consulta-texto li {
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (max-width: 1104px) {
.consulta-left {
  display: none; 
}
.consulta-right {
  max-width: 100%;
  text-align: left; 
  margin-top: -10px;
  padding: 5px 20px 20px 20px
}

.consulta-right h2 {
  font-size: 58px; 
  font-weight: 800; 
  margin-bottom: 16px;
  text-transform: uppercase;
}

.consulta-texto p {
  font-size: 20px;
  margin-bottom: 16px;
}

.consulta-texto ul {
  padding-left: 20px;
  list-style-type: disc;
}

.consulta-texto li {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 24px;
}
}